<div class="container">
  <form class="form" [formGroup]="simulationForm">
    <label class="form-label">Number of Simulations</label>
    <div>
      <input class="form-control" type="text" formControlName="numberOfSimulations" />
    </div>
  </form>
  <button [disabled]="loading" (click)="runUthSimulation()" class="btn btn-primary mt-3">
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Calculate
  </button>
  <div class="row">
    <div class="mb-2 col" *ngIf="simulation">
      <h3>Edge:</h3>
      <div>{{ simulation.edge | percent:'1.2' }}</div>
    </div>
  </div>
</div>