<div class="h-100 d-flex align-items-center justify-content-center">
  <div>
    <form class="form" [formGroup]="simulationForm">
      <label class="form-label">Number of Simulations</label>
      <input class="form-control" type="text" formControlName="numberOfSimulations" />
    </form>
    <button [disabled]="loading" (click)="runUthSimulation()" class="btn btn-primary mt-2 w-100">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Calculate
    </button>
    <div class="row">
      <div class="mt-2 col">
        <div *ngIf="simulation; else noSimulation">Edge: {{ simulation.edge | percent:'1.2' }}</div>
        <ng-template #noSimulation>
          <div>Press Calculate</div>
        </ng-template>
      </div>
    </div>
</div>
</div>