<div class="container">
  <form class="form" [formGroup]="cardForm" (ngSubmit)="calculateEquity()">
    <div class="d-flex">
      <div class="me-3" formGroupName="player1">
        <label class="form-label">Player1</label>
        <div class="d-flex">
          <div>
            <input class="form-control" type="text" formControlName="card1" />
          </div>
          <div>
            <input class="form-control" type="text" formControlName="card2" />
          </div>
        </div>
      </div>
      <div class="me-3" formGroupName="player2">
        <label class="form-label">Player2</label>
        <div class="d-flex">
          <div>
            <input class="form-control" type="text" formControlName="card1" />
          </div>
          <div>
            <input class="form-control" type="text" formControlName="card2" />
          </div>
        </div>
      </div>
      <div formGroupName="flop">
        <label class="form-label">Flop</label>
        <div class="d-flex">
          <div>
            <input class="form-control" type="text" formControlName="card1" />
          </div>
          <div>
            <input class="form-control" type="text" formControlName="card2" />
          </div>
          <div>
            <input class="form-control" type="text" formControlName="card3" />
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Calculate</button>
  </form>
  <div *ngIf="submitted">
    <h3>Equity:</h3>
    <div>{{ equity }}%</div>
    <div>Player 1 Hand: {{ player1Hand }}</div>
    <div>Player 2 Hand: {{ player2Hand }}</div>
    <div>Flop: {{ flop }}</div>
    <div>Calculated in {{ executionTime }}ms.</div>
  </div>
</div>
